footer{
    height: 400px;
    background-color: white;
    width: 100%;
}

.footer-icons{
    display: flex;
    align-items: center;
    gap: 48px;
}


.footer-container{
    /* display: flex; */
    align-items: center;
    gap: 48px;
}


h3{
    color: #111827;
}

h2{
    color: #6B7280;
}

.fotter-content{
display: flex;
align-items: flex-start;
gap: 48px;
}