.Movie-container{
    height: 600px;
    background-color: rgb(239, 241, 240);
    width: 250px;
}


.tv-series{
    background-color: #F3F4F680;
    height:22px;
    width: 74px;
    border-radius: 9px;
    
    
    display: flex;
    padding: 3px 8px;
    align-items: flex-start;
    gap: 10px;

  
    
}

.heart{
    background-color: #F3F4F680;
    height:32px;
    width: 32px;
    border-radius: 50px;
}

.poster-flex{
display: inline-flex;
justify-content: center;
align-items: center;
gap: 90px;
margin-left: 20px;
margin-top: 20px;

}

.poster-card{
height: 370px;
width: 250px;
background-image: url('../../assets/Poster2.png');
}

h4{
color: var(--gray-400, #9CA3AF);
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

h2{
color: var(--gray-900, #111827);
font-family: DM Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

p{
color: var(--gray-900, #111827);
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12px; /* 100% */
}


h3{
color: var(--gray-900, #111827);
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.icons4{
    display: inline-flex;
    align-items: center;
    gap: 108px;
}